@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Parisish.ttf);
}

body {
  font-size: 30px;
  font-family: myFirstFont;
  background-image: url(../img/body.jpg);
}

h2 {
  font-size: 60px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 55px;
}

#sect1 {
  display: none;
}

.greet {
  width: 1000px;
  height: auto;
}
.head-vaca {
  display: none;
  width: 1000px;
  height: auto;
}

button{
  margin-top: 30px;
  margin-left: 200px;

}
h4 {
  font-size: 50px;
}

h5 {
  font-size: 35px;
}

h1 {
  font-weight: bold;
  font-size: 70px;
}

#nature {
display: none;
}

#q3City {
display: none;
}

#q4City {
display: none;
}

#q5City {
display: none;
}

.sect3-btn {
display: none;
}

.sports {
display: none;
}

#error {
  display: none;
}

.paris {
  display: none;
}

.hawaii {
  display: none;
}

.yosemite {
  display: none;
}

.vegas {
  display: none;
}

.disneyworld {
  display: none;
}

.new-york {
  display: none;
}
