#nature {
display: none;
}

#q3City {
display: none;
}

#q4City {
display: none;
}

#q5City {
display: none;
}

.sect3-btn {
display: none;
}

.sports {
display: none;
}

#error {
  display: none;
}

.paris {
  display: none;
}

.hawaii {
  display: none;
}

.yosemite {
  display: none;
}

.vegas {
  display: none;
}

.disneyworld {
  display: none;
}

.new-york {
  display: none;
}
