@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Parisish.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(../fonts/DEFTONE.ttf);
}

.result {
  font-family: mySecondFont;
  font-weight: bold;
}

label {
  margin-left: 60px;
  padding: 40px;
}

.result-pic {
  width: 800px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


body {
  font-size: 40px;
  font-family: myFirstFont;
  background-image: url(../img/Body.jpg);
  background-size: cover;
  text-align: center;
}

.q1 {
  margin-left: 150px;
}


h2 {
  font-size: 60px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 55px;
}

#top-instruct {
  padding-top: 40px;
  padding-bottom: 40px;
}

#sect1 {
  display: none;
}

.greet {
  padding-top: 75px;
  width: 1000px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.head-vaca {
  display: none;
  width: 1000px;
  height: auto;
}

button{
  margin-top: 30px;



}
h4 {
  font-size: 50px;
}

h5 {
  font-size: 35px;
}

h1 {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

#nature {
display: none;
}

#q3City {
display: none;
}

#q4City {
display: none;
}

#q5City {
display: none;
}

.sect3-btn {
display: none;
}

.sports {
display: none;
}

#error {
  display: none;
}

.paris {
  display: none;
}

.hawaii {
  display: none;
}

.yosemite {
  display: none;
}

.vegas {
  display: none;
}

.disneyworld {
  display: none;
}

.new-york {
  display: none;
}
